include LICENSE
include README.rst
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include src/tcdo_pg_tools/250707.crap.fasta

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
